{%extends "base.html" %}  
{%block conteudo%}
{% load staticfiles %}
    <!-- Wide card with share menu button -->        
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--9-col">      
          {% for produto in produtos.object_list %}
              {# Cada "contato" é um objeto do model Contact. #}
              

              zsdfbr  <br><br><br><br><br>
              {{ produto.titulo}}<br />              
          {% endfor %}    
        </div>  
        <div class="mdl-cell mdl-cell--3-col">      
            <h3 style="margin-top: 60px;">Categorias</h3>            
            <a href="{% url "animais" %}"><div class="divCategoria">Animais</div></a> <br/>                                         
            <a href="{% url "comidas" %}"><div class="divCategoria">Comidas</div></a> <br/>      
            <a href="{% url "antiguidades" %}"><div class="divCategoria">Antiguidades</div></a> <br/> 
            <a href="{% url "eletrodomesticos" %}"><div class="divCategoria">Eletrodomésticos</div></a><br/>
            <a href="{% url "veiculos" %}"><div class="divCategoria">Veículos</div></a><br/>
            <a href="{% url "games" %}"><div class="divCategoria">Games</div></a><br/>            
            <a href="{% url "musica" %}"><div class="divCategoria">Música</div></a><br/>    
            <a href="{% url "livros" %}"><div class="divCategoria">Livros</div></a><br/>          
            <a href="{% url "outros" %}"><div style="margin-bottom: 30px" class="divCategoria">outros</div></a>
        </div>

        <div class="mdl-cell mdl-cell--12-col"> 
            <div class="pagination">
              <span class="step-links">
                  {% if produtos.has_previous %}
                      <a href="?page={{ produtos.previous_page_number }}" class="btnPag">Anterior</a>
                  {% endif %}
                              
                  {% for a in range %}
                      {% if a == produtos.number %}
                          <a href="?page={{a}}"><div class="divPag" style="background: #303F9F;">{{a}}</div></a>
                      {% else %}
                          <a href="?page={{a}}"><div class="divPag">{{a}}</div></a>
                      {% endif %}                      
                  {% endfor %}
                  {% if produtos.has_next %}
                      <a href="?page={{ produtos.next_page_number }}" class="btnPag">Próxima  </a>
                  {% endif %}                  
              </span>
          </div>
        </div>        
    </div>
{% endblock %}